doctype html
html(lang='en')
	head
		title GNIS-LD
		link(rel='stylesheet', type='text/css', href='/style/index.css')
		script(src='/script/index.js')
	body
		#banner GNIS Linked Data

		#intro
			h1 The official Linked Data version of the USGS GNIS.
			p The Geographic Names Information System (GNIS) is the Federal and national standard for geographic nomenclature. The U.S. Geological Survey developed the GNIS in support of the U.S. Board on Geographic Names as the official repository of domestic geographic names data, the official vehicle for geographic names use by all departments of the Federal Government, and the source for applying geographic names to Federal electronic and printed products.

		#contact
			| blake at geog.ucsb.edu